#general-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
}

#main-nav {
    display: flex;
    justify-content: center;
    gap: 10px;
}

a {
    text-decoration: none;
    color: unset;
    font-weight: 700;
}

a:hover {
  color: #0439cc;
}

.selected-route {
    color: #1645c4;
}

#content {
    display: flex;
    justify-content: center;
}
