<link rel="stylesheet" href="../css/options.css">

<form id="form">
  <div class="form-field">
    <label>Сохранять историю</label>
    <toggle-button id="history" name="isHistory" checked="false"></toggle-button>
  </div>
  <div class="form-field">
    <label>Запрет посещения сайтов</label>
    <toggle-button id="black-list" name="isBlackList" checked="false"></toggle-button>
  </div>
  <div class="form-field">
    <label>Только разрешённые сайты</label>
    <toggle-button id="white-list" name="isWhiteList" checked="false"></toggle-button>
  </div>
</form>
